REACT_APP_BACKEND_CALLBACK_URI="pollo-backend.cornellappdev.com/auth/google/callback"
REACT_APP_BACKEND_HOST_URL='pollo-backend.cornellappdev.com'
REACT_APP_GOOGLE_CLIENT_ID="1030050596638-8p1rrrcmm0ugtf9497e59qpl41fc950r.apps.googleusercontent.com"
REACT_APP_GOOGLE_CLIENT_SECRET="hLZdjd_XwPogq1xkADUlTJ0h"
