@import '../../colors.scss';

.sidebar {
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
}

.sidebar-header-container {
    width: 100%;
    height: 56px;
    background-color: $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar-content-container {
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 56px);
}

.sidebar-header-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
}

.sidebar-header-arrow-button {
    margin-right: 9.8px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.sidebar-header-text {
    font-size: 18px;
    font-weight: 600;
    color: $black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}

.sidebar-header-icon-button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 18px;
    background-color: $white;
}

.sidebar-cell-container {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid $borderGray;
    width: calc(100% - 16px);
}

.sidebar-cell-text-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 4px;
}

.sidebar-cell-title-text {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    color: $darkestGray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-bottom: 5.2px;

    &.bold {
        font-weight: 500;
    }
}

.sidebar-cell-subtitle-text {
    font-size: 16px;
    color: $blueGray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}

.sidebar-cell-live-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-cell-live-dot {
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
    background-color: $polloGreen;
    margin-right: 7.4px;
}

.sidebar-cell-live-text {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: $polloGreen;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar-cell-icon-button {
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 4px;
    background-color: $white;
}
