@import '../../colors.scss';

.links-view-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links-view-link {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 21px;
    color: $mediumGrayTwo;
    font-weight: 600;
    text-decoration: none;
    margin-right: 21px;

    &.rightmost {
        margin-right: 0px;
    }
}