@import '../../colors.scss';

.poll-card-view-container {
    width: 499px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.poll-card-view-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.poll-card-view-header-container {
    display: flex;
    flex-direction: column;
    background-color: $whiteTwo;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.poll-card-view-question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 23px 27px 23px;
}

.poll-card-view-question-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: $black;
    margin-right: 23px;
}

.poll-card-view-edit-button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.poll-card-view-header-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 6.73px;

    &.padded {
        margin-bottom: 17px;
    }
}

.poll-card-view-header-prompt-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.poll-card-view-header-prompt-icon {
    margin-right: 0.5px;

    &.padded {
        margin-right: 11px;
    }
}

.poll-card-view-header-prompt-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $blueGray;
    margin-right: 23px;
}

.poll-card-view-response-count-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $blueGray;
    text-align: right;
}

.poll-card-view-divider {
    width: 100%;
    height: 1px;
    background-color: $borderGray;
}

.poll-card-view-responses-container {
    background-color: $white;
    padding-top: 26px;
    padding-bottom: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &.scrollable {
        height: 220px;
        overflow-y: scroll;
    }
}

.poll-card-view-response-container {
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $lightGray;
    border-radius: 3px;
    border: 0.3px solid $mediumGrayTwo;
    margin-bottom: 12px;

    &.correct-answer {
        background-color: $lightGreen;
    }
}

.poll-card-view-response-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $black;
    margin: 23px 19px;
}

.poll-card-view-response-percentage {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $black;
    margin-right: 19px;
}

.poll-card-view-poll-label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 84px;
}

.poll-card-view-result-container {
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.poll-card-view-result-text-container {
    position: relative;
    width: calc(100% - 81px);
    background-color: $white;
    border-radius: 3px;
    border: 1.5px solid $mediumGrayTwo;

    &.correct-answer {
        border: 1.5px solid $polloGreen;
    }
}

.poll-card-view-result-bar {
    position: absolute;
    left: -1.5px;
    top: -1.5px;
    bottom: -1.5px;
    border-radius: 3px;
    border: 1.5px solid $mediumGrayTwo;
    background-color: $lightGray;

    &.correct-answer {
        background-color: $lightGreen;
        border: 1.5px solid $polloGreen;
    }
}

.poll-card-view-result-text {
    position: relative;
    width: calc(100% - 38px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $black;
    margin: 23px 19px;
}

.poll-card-view-result-info {
    width: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-card-view-result-count {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $black;
    text-align: center;
}

.poll-card-view-result-percentage {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: $mediumGrayThree;
    text-align: center;
}

.poll-card-view-poll-button {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: $white;
    width: 161px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    &.live {
        background-color: $grapefruit;
        margin-bottom: 24px;
    }

    &.ended {
        background-color: $polloGreen;
        margin-bottom: 84px;
    }
}

.poll-card-view-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-card-view-timer-label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $white;
    margin-bottom: 36px;
}
