@import '../index.css';

.create-session-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 11px;
  margin: auto;
}

.create-session-button {
  width: 270px !important;
  background-color: var(--pollo-green) !important;
  color: white !important;
  border-radius: 100px !important;
}
