@import '../index.css';

.join-session-container {
  float: right;
}

/*******************************
       Join Session Input
*******************************/

.join-session-input {
  border: solid 1px var(--pollo-border-grey);
  border-radius: 100px;
}

input {
  border: none;
  border-radius: 100px;
}

.join-session-input:not([class*="left action"]) > input {
  border: none;
  border-radius: 100px;
}

.join-session-input:not([class*="left action"]) > button {
  border-radius: 100px !important;
  margin: 1px;
}
