@import '../../colors.scss';

.login-view-background {
    width: 100vw;
    height: 100vh;
    background-color: $darkestGray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

.login-view-card-container {
    margin-top: 117px;
    left: auto;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-view-links-view-container {
    margin-bottom: 37px;
}
