:root {
  /* Colors */
  --pollo-green       : #29C09E;
  --pollo-off-white   : #FAFAFA;
  --pollo-light-grey  : #F0F0F0;
  --pollo-medium-grey : #9EA7B3;
  --pollo-border-grey : #E1E1E1;
  --pollo-dark-grey   : #353535;
  --pollo-deep-black  : #202020;

  /* Font Sizes */
  --mini-font         : 12px;
  --tiny-font         : 14px;
  --small-font        : 16px;
  --medium-font       : 18px;
  --large-font        : 20px;
  --big-font          : 22px;
  --bigger-font       : 24px;
  --semi-huge-font    : 28px;
  --huge-font         : 30px;
  --massive-font      : 36px;

  /* Font Weights */
  --thin-weight       : 100;
  --ultralight-weight : 200;
  --light-weight      : 300;
  --regular-weight    : 400;
  --medium-weight     : 500;
  --semibold-weight   : 600;
  --bold-weight       : 700;
  --heavy-weight      : 800;
  --black-weight      : 900;

  /* Padding */
  --edge-padding      : 18px;
  --hpadding          : 100px;
  --vpadding          : 40px;
}
